body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.styled-form-background {
  width: 100%;
  height: 100%;
  background-image: url(./img/fon.jpg);
  background-position: center;
}

.formInputCon {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.94);
  border-radius: 0 !important;
  color: #417505 !important;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}

.pagination {
  list-style: none;
  height: 31.5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}

.active {
  background-color: #1e50ff;
  border-radius: 50%;
}

.page-item {
  list-style: none;
  padding: 2px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

nav a {
  margin: 15px;
}

.deleteInTablle {
  height: 32px;
  width: 32px;
}

.createImg {
  height: 64px;
  width: 64px;
}

.btnTool {
  text-align: left;
}

table {
  border-collapse: collapse;
}

th {
  text-align: center;
}

th,
td {
  border: 1px solid #417505;
  text-align: left;
  padding: 8px;
}
